.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: rgb(15, 15, 15);
  margin: 0;
}
.nav-links {
  display: flex;
  gap: 15px;
  white-space: nowrap;
}

.nav-links h4,
.nav-links h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal; /* Adjust font weight as needed */
  font-size: 1rem; /* Adjust font size as needed */
  color: rgb(15, 15, 15); /* Adjust color as needed */
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 60px;
  padding: 30px;
  padding-top: 6%;
  justify-content: center;
  align-items: center;
  image-resolution: 300dpi;
}

.gallery-item {
  overflow: hidden;
  position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.2s ease;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
