<head>


  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <!--Stylesheet-->

</head>
@if (errorMessage) {
<div>{{ errorMessage }}</div>
}


<body>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Signup Here</h3>
    <div>
      <label for="username">Username</label>
      <input type="text" placeholder="username" formControlName="username" />
    </div>
    <div>
      <label for="username">Email</label>
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" placeholder="Password" formControlName="password" />
    </div>
    <div>
      <button type="submit">Sign Up</button>
    </div>

  </form>
</body>